<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:hibernate.properties</value>
			</list>
		</property>
	</bean>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${classname}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.show_sql">true</prop>
<!-- 				<prop key="hibernate.hbm2ddl.auto">update</prop> -->
			</props>
		</property>
		<!-- List of entities with annotated class -->
		<property name="packagesToScan" value="com.royalBank.entity" />
	</bean>
	<bean name="hibernateTemplate"
		class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" /> 
	</bean>
	<bean name="bankDaoref"
		class="com.royalBank.dao.BankDao">
		<property name="hibernateTemplate" ref="hibernateTemplate" /> 
	</bean>
	<bean name="accountCreationDaoImpl"
		class="com.royalBank.daoImpl.AccountCreationDaoImpl">
		<property name="bankDao" ref="bankDaoref" /> 
	</bean>
	<bean name="accountCreationService"
		class="com.royalBank.businessImpl.AccountCreationImpl">
		  <property name="accountCreationDao" ref="accountCreationDaoImpl" /> 
	</bean>
		<!-- Spring Email Sender Bean Configuration -->

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">

        <property name="host" value="smtp.gmail.com" />

        <property name="port" value="587" />

        <property name="username" value="royalonlinebank.666@gmail.com" />

        <property name="password" value="@3royal@3" />

        <property name="javaMailProperties">
<props>
   <prop key="mail.smtp.auth">true</prop>
   <prop key="mail.smtp.ssl.trust">smtp.gmail.com</prop>
   <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
               </property>
    </bean>
		<bean id="mailService" class="com.royalBank.mailServices.ContactSupportMail">
		
		<property name="mailSender" ref="mailSender"></property>
		</bean>
		
		
</beans>
